<%if (isAdmin) { %><!-- New Post
============================================= -->
<a aria-role="button" tabindex="0" class="button button-border button-rounded add-post">
    <i class="icon-plus-sign"></i>New Post</a>
<div class="new-post-region">

</div>
<% } %>
<!-- Post Content
============================================= -->
<div class="postcontent nobottommargin clearfix">
    <!-- Posts
    ============================================= -->
   
</div><!-- .postcontent end -->

<div class="sidebar nobottommargin col_last clearfix">
    <div class="sidebar-widgets-wrap">
    </div><!-- .sidebar end -->
</div>
