<div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
        <div class="swiper-slide dark" style="background-image: url('Images/frontspiece-kale-crop-text_2.jpg');">
            <div class="container clearfix">
                <div class="slider-caption slider-caption-top-left">
                    <h2 class="animated fadeInRightBig">Let they food be thy medicine</h2>
                    <h3 class="animated fadeInLeftBig">...and thy medicine be thy Food</h3>
                </div>
            </div>
        </div>
    </div>
</div>
