<div class="col_full">
    <label for="app-login-form-username">Username:</label>
    <input type="text" id="app-login-form-username" name="app-login-form-username" value="" class="form-control" />
</div>

<div class="col_full">
    <label for="app-login-form-password">Password:</label>
    <input type="password" id="app-login-form-password" name="app-login-form-password" value="" class="form-control" />
</div>

<div class="col_full nobottommargin">
    <button class="button button-3d button-black nomargin" id="app-login-form-submit" value="login">Login</button>
    <a role="button" tabindex="0" class="fright">Forgot Password?</a>
</div>
