<div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

    <div class="acctitle app-login"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to your Account</div>
    <div class="app-login-region region animated fadeOutRight acc_content clearfix">
    </div>

    <div class="acctitle app-register"><i class="acc-closed icon-user4"></i><i class="acc-open icon-ok-sign"></i>New Signup? Register for an Account</div>
    <div class="app-registration-region region animated fadeOutRight hidden acc_content clearfix">
    </div>
