<div class="col_full">
    <div class="form-group has-feedback">
        <label for="app-register-form-email">Email Address:</label>
        <input type="email" id="app-register-form-email" name="app-register-form-email" value="" class="form-control" />
        <span class="email-ok i-plain icon-remove form-control-feedback" aria-hidden="true"></span>

    </div>
</div>

<div class="col_full">
    <label for="app-register-form-password">Choose Password:</label>
    <input type="password" id="app-register-form-password" name="app-register-form-password" value="" class="form-control" />
</div>
</div>

<div class="col_full">
    <div class="form-group has-feedback">
        <label for="app-register-form-repassword">Re-enter Password:</label>
        <input type="password" id="app-register-form-repassword" name="app-register-form-repassword" value="" class="form-control" />
        <span class="confirm-password-ok i-plain icon-remove form-control-feedback" aria-hidden="true"></span>
    </div>
</div>

<div class="col_full nobottommargin">
    <button class="button button-3d button-black nomargin" id="app-register-form-submit" name="app-register-form-submit" value="register">Register Now</button>
</div>
